<a href="https://colab.research.google.com/github/Rosalesmariana/Simulacion-I-/blob/main/Cuadrado_medio_Explicado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from tabulate import tabulate

x_0 = 2124 # Semilla inicial de 4 digitos, x_0

# Encabezados de la tabla
table_headers = ["n","x_n", "x_n^2", "x_n+1"]

# Lista para almacenar las filas de la tabla
table_rows = []

iteration = 1 #inicializamos las iteraciones

while True:
    res = x_0 ** 2 #Elevamos al cuadrado nuestro x_0
    res_str = str(res).zfill(8) #Rellenamos la cadena con ceros a la izquierda hasta alcanzar una longitud especÃ­fica
    x_1 = int(res_str[2:6]) #Tomamos los 4 digitos de enmedio y sera nuestro x_1
    table_rows.append([iteration,x_0, res, x_1]) #Resultados que seran mostrados en la tabla

    # Actualizar los valores de x_n+1 y x_n para el siguiente ciclo
    x_0 = x_1 #Tomara a nuestro x_1 (x_n+1) como el nuevo x_0 (x_n)

    iteration += 1

    # Total de iteraciones
    if iteration > 10:
        break

# Tabla de resultados
print(tabulate(table_rows, headers=table_headers, tablefmt="grid"))

+-----+-------+----------+---------+
|   n |   x_n |    x_n^2 |   x_n+1 |
+=====+=======+==========+=========+
|   1 |  2124 |  4511376 |    5113 |
+-----+-------+----------+---------+
|   2 |  5113 | 26142769 |    1427 |
+-----+-------+----------+---------+
|   3 |  1427 |  2036329 |     363 |
+-----+-------+----------+---------+
|   4 |   363 |   131769 |    1317 |
+-----+-------+----------+---------+
|   5 |  1317 |  1734489 |    7344 |
+-----+-------+----------+---------+
|   6 |  7344 | 53934336 |    9343 |
+-----+-------+----------+---------+
|   7 |  9343 | 87291649 |    2916 |
+-----+-------+----------+---------+
|   8 |  2916 |  8503056 |    5030 |
+-----+-------+----------+---------+
|   9 |  5030 | 25300900 |    3009 |
+-----+-------+----------+---------+
|  10 |  3009 |  9054081 |     540 |
+-----+-------+----------+---------+